version: '3'
name: steingen
services:
  steingen:
    build:
      context: .
      dockerfile: gcc.dockerfile
    container_name: steingen
    volumes:
      - steingen-volume:/steingen
      - .:/steingen
      - /var/run/docker.sock:/var/run/docker.sock
      - C:/Users/sjelic/texmf/bibtex/bib/Articles.bib:/steingen/docs/Articles.bib
    # environment:
    #   - NODE_ENV=development
    user: root
    command: sleep infinity
volumes:
  steingen-volume:
networks:
  host: